[submodule "cldr-core"]
	path = compiler/src/main/resources/data/cldr-core
	url = https://github.com/unicode-cldr/cldr-core.git
[submodule "cldr-dates-modern"]
	path = compiler/src/main/resources/data/cldr-dates-modern
	url = https://github.com/unicode-cldr/cldr-dates-modern.git
[submodule "cldr-numbders-modern"]
	path = compiler/src/main/resources/data/cldr-numbers-modern
	url = https://github.com/unicode-cldr/cldr-numbers-modern.git
